---
import CardProject from "./CardProject.astro";
const projects = await Astro.glob("../../content/projects/*.md");
const numberOfCards = projects.length;

const black = "#060606";
const blue = "#0085ff";

---
<section id="projects" >
    <div class="projects contain">
        <h1 class="heading ">Projects</h1>
        <div class="projects__cards ">
            {
                projects.map( project => (
                    <CardProject 
                        title={project.frontmatter.title} 
                        description={project.frontmatter.description}
                        tools={project.frontmatter.tools}
                        image={project.frontmatter.image}
                        link={project.frontmatter.link}
                    />
                ))
            }
        </div>
        <a class="projects__link" href="/projects">See all projects</a>
    </div>
</section>
<style lang="scss" define:vars={{black, blue, numberOfCards}}>
    section {
        margin: 0 auto;
        background-color: var(--black);
        background-image: linear-gradient(to bottom, rgba( 6, 6, 6, 1),rgba( 6, 6, 6, 0.65),rgba( 6, 6, 6, 0.65), rgba( 6, 6, 6, 1)  ), url("./../../../public/espectro640x427.jpg");
        background-repeat: no;
        background-size: cover;
    }
    .projects {        
        

        &__cards {
            margin-top: 4rem;
            display: grid;
        }
        &__link {
            color: white;
            display: block;
            text-align: center;
            font-size: 1.8rem;
            margin-bottom: 2rem;
            text-decoration: underline;
            transition: color .1s ease-in-out;

            &:hover {
                color: var(--blue)
            }
        }
    }
    .heading {
        font-size: 4rem;
        text-transform: uppercase;
        color: white;
        text-align: center;
    }

    /*----------- Responsive Design --------------*/
    @media screen and (width >= 768px) {
        section {
            background-image: linear-gradient(to bottom, rgba( 6, 6, 6, 1),rgba( 6, 6, 6, 0.65),rgba( 6, 6, 6, 0.65), rgba( 6, 6, 6, 1)  ), url("./../../../public/espectro1280x853_opt.jpg");
        }
        .heading {
            font-size: 7.2rem;
            text-transform: uppercase;
            color: white;
            text-align: center;
            margin-bottom: 3rem;
        }

        .projects {
            margin-top: 10rem;
            &__cards {
                grid-template-columns: repeat(2, 1fr);
                grid: 2rem;
            }
        }
    }

    @media screen and (width >= 1028px) {
        .heading {
            margin-top: 4rem;
        }
        .projects {
            margin-top: 10rem;

            &__cards {
                grid-template-columns: repeat(3, 1fr);
                grid: 2rem;
            }
        }
    }
</style>