---
import CardProject from "./CardProject.astro";
const projects = await Astro.glob("../../content/projects/*.md");
const numberOfCards = projects.length;

const black = "#060606";
---
<section id="projects">
    <div class="projects">
        <h1 class="heading contenedor">Projects</h1>
        <div class="projects__cards">
            {
                projects.map( project => (
                    <CardProject 
                        title={project.frontmatter.title} 
                        description={project.frontmatter.description}
                        tools={project.frontmatter.tools}
                        image={project.frontmatter.image}
                        link={project.frontmatter.link}
                    />
                ))
            }
        </div>
    </div>

</section>
<style lang="scss" define:vars={{black, numberOfCards}}>
    section {
        margin: 0 auto;
        background-color: var(--black);
        height: 100rem;
        background-image: linear-gradient(to bottom, rgba(6,6,6,1),rgba(6,6,6,0.65),rgba(6,6,6,0.5), rgba(6,6,6,1)  ), url("./../../../public/espectro640x427.jpg");
        background-repeat: repeat-y;
        background-size: cover;
    }
    .projects {
        overflow-y: hidden;
        
        &__cards {
            padding-inline: 2rem;
            overflow-x: scroll;
            display: grid;
            gap: 3.5rem;
            grid-template-columns: repeat(var(--numberOfCards), 35rem);
            scroll-snap-type: x mandatory;
        }
    }
    .heading {
        font-size: 4rem;
        text-transform: uppercase;
        color: white;
        text-align: center;
        margin-bottom: 3rem;
    }

    /*----------- Responsive Design --------------*/
    @media screen and (width >= 768px) {

        .heading {
            font-size: 7.2rem;
            text-transform: uppercase;
            color: white;
            text-align: center;
            margin-bottom: 3rem;
        }
    }
</style>