---
interface Props {
	title: string;
	description: string;
}
const canonicalURL = new URL(Astro.url.pathname, Astro.site);
const { title, description } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />

		<title>{title}</title>
		<meta name="title" content={title} />
		<meta name="description" content={description} />
		<link rel="canonical" href={canonicalURL} />
		<link rel="sitemap" href="/sitemap-index.xml" />

		<!-- Global Metadata -->
		<link rel="icon" href="/favicon.png" />
		<link rel="apple-touch-icon" href="/images/icon/192x192.png" />
		<!-- <link rel="manifest" href="/manifest.webmanifest" /> -->
		<meta name="google" content="translate" />
		<link rel="apple-touch-icon" sizes="57x57" href="/apple-icon-57x57.png" />
		<link rel="apple-touch-icon" sizes="60x60" href="/apple-icon-60x60.png" />
		<link rel="apple-touch-icon" sizes="72x72" href="/apple-icon-72x72.png" />
		<link rel="apple-touch-icon" sizes="76x76" href="/apple-icon-76x76.png" />
		<link rel="apple-touch-icon" sizes="114x114" href="/apple-icon-114x114.png" />
		<link rel="apple-touch-icon" sizes="120x120" href="/apple-icon-120x120.png" />
		<link rel="apple-touch-icon" sizes="144x144" href="/apple-icon-144x144.png" />
		<link rel="apple-touch-icon" sizes="152x152" href="/apple-icon-152x152.png" />
		<link rel="apple-touch-icon" sizes="180x180" href="/apple-icon-180x180.png" />
		<link
			rel="icon"
			type="image/png"
			sizes="192x192"
			href="/android-icon-192x192.png"
		/>
		<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
		<link rel="icon" type="image/png" sizes="96x96" href="/favicon-96x96.png" />
		<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
		<meta name="msapplication-TileColor" content="#2b5797" />
		<meta name="theme-color" content="#ffffff" />

		<!-- Open Graph / Facebook -->
		<meta property="og:locale" content="en_EN" />
		<meta property="og:type" content="website" />
		<meta property="og:url" content={canonicalURL} />
		<meta property="og:title" content={title} />
		<meta property="og:description" content={description} />
		<meta property="og:image" content="https://i.imgur.com/EblYQmr.jpeg"/>

		<!-- Twitter -->
		<meta name="twitter:card" content="summary_large_image" />
		<meta name="twitter:title" content={title} />
		<meta name="twitter:description" content={description} />
		<meta name="twitter:image" content="https://i.imgur.com/EblYQmr.jpeg" />
		<meta name="twitter:image:alt" content={title} />
		<meta name="twitter:site" content="@montoproducer" />
		<meta name="twitter:creator" content="@montoproducer" />
	<head/>
	<body>
		<slot />
	</body>
	<style is:global>
		@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;800&display=swap');
		html {
			font-size: 62.5%;
			box-sizing: border-box;
			scroll-behavior: smooth;
			scroll-padding-top: 15rem;
		}
		*, *::after, *::before {
			box-sizing: inherit;
		}
		img {
			display: block;
				width: 100%;
		}
		body {
			font-family: 'Poppins', sans-serif;
			margin: 0;
			background-color: #060606;
		}
		a {
			display: block;
			text-decoration: none;
			color: inherit;
		}
		h1, h2 , h3 {
			margin: 0;
		}
		/* Globals */
		[class*="contain"] {
			max-width: 120rem;
			margin: 0 auto;
			width: 94%;
		}
	</style>
</html>